stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera
  KUBERNETES_CPU_REQUEST: "2"
  KUBERNETES_CPU_LIMIT: "2"
  KUBERNETES_MEMORY_REQUEST: "6Gi"
  KUBERNETES_MEMORY_LIMIT: "6Gi"
  KUBERNETES_HELPER_CPU_REQUEST: "250m"
  KUBERNETES_HELPER_CPU_LIMIT: "250m"
  KUBERNETES_SERVICE_CPU_REQUEST: "1"
  KUBERNETES_SERVICE_CPU_LIMIT: "1"
  KUBERNETES_SERVICE_MEMORY_REQUEST: "2Gi"
  KUBERNETES_SERVICE_MEMORY_LIMIT: "4Gi"

before_script:
  - echo "${_NETRC}" > ~/.netrc

external-spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v0 --output v0.external-api.json
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v1 --output v1.external-api.json
    - jq -S . v0.external-api.json > v0.external-api.json.tmp 
    - mv v0.external-api.json.tmp v0.external-api.json
    - jq -S . v1.external-api.json > v1.external-api.json.tmp 
    - mv v1.external-api.json.tmp v1.external-api.json

  artifacts:
    paths:
      - "*external-api.json"
  tags:
    - gke-gitlab-runner
  retry: 2