stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera

before_script:
  - echo "${_NETRC}" > ~/.netrc

external-spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v0 --output v0-external-api.yml
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v1 --output v1-external-api.yml
    - yq --tojson -I=0 eval v0-external-api.yml > v0-external-api.json
    - yq --tojson -I=0 eval v1-external-api.yml > v1-external-api.json
  artifacts:
    paths:
      - "*external-api.yml"
      - "*external-api.json"
  tags:
    - low-load
