stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera

before_script:
  - echo "${_NETRC}" > ~/.netrc

external-spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v0 --output v0.external-api.json
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v1 --output v1.external-api.json
  artifacts:
    paths:
      - "*external-api.json"
  tags:
    - high-load
  retry: 2