stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera
  KUBERNETES_CPU_REQUEST: "2"
  KUBERNETES_MEMORY_REQUEST: "6Gi"
  KUBERNETES_MEMORY_LIMIT: "6Gi"
  KUBERNETES_HELPER_CPU_REQUEST: "250m"
  KUBERNETES_SERVICE_CPU_REQUEST: "1"
  KUBERNETES_SERVICE_MEMORY_REQUEST: "2Gi"
  KUBERNETES_SERVICE_MEMORY_LIMIT: "4Gi"

before_script:
  - echo "${_NETRC}" > ~/.netrc

errorcodes:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    # Hopefully this is temporary. Once we remove the versioned copies of errorcodes.yml,
    # we can drop this check.
    - 'diff -u v0/common/errorcodes.yml common/errorcodes.yml || (echo "error: errorcodes.yml files must be kept in sync"; exit 1)'
    - 'diff -u v1/common/errorcodes.yml common/errorcodes.yml || (echo "error: errorcodes.yml files must be kept in sync"; exit 1)'
  tags:
    - gke-gitlab-runner

external-spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v0 --output v0.external-api.json
    - sc --debug openapi generate-merged-spec --working-dir wkdir --version v1 --output v1.external-api.json
    - jq -S . v0.external-api.json > v0.external-api.json.tmp 
    - mv v0.external-api.json.tmp v0.external-api.json
    - jq -S . v1.external-api.json > v1.external-api.json.tmp 
    - mv v1.external-api.json.tmp v1.external-api.json

  artifacts:
    paths:
      - "*external-api.json"
  tags:
    - gke-gitlab-runner
  retry: 2
