stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera
  KUBERNETES_CPU_REQUEST: "3"
  KUBERNETES_MEMORY_REQUEST: "4Gi"
  KUBERNETES_MEMORY_LIMIT: "4Gi"

before_script:
  - echo "${_NETRC}" > ~/.netrc

errorcodes:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    # Hopefully this is temporary. Once we remove the versioned copies of errorcodes.yml,
    # we can drop this check.
    - 'diff -u v0/common/errorcodes.yml common/errorcodes.yml || (echo "error: errorcodes.yml files must be kept in sync"; exit 1)'
    - 'diff -u v1/common/errorcodes.yml common/errorcodes.yml || (echo "error: errorcodes.yml files must be kept in sync"; exit 1)'
  tags:
    - gke-gitlab-runner-spot
  retry:
    max: 2
    when:
      - runner_system_failure
