stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera

before_script:
  - echo "${_NETRC}" > ~/.netrc

spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - ./update
    - make --file=ci.makefile internal-api.yml external-api.yml internal-api.json external-api.json
  artifacts:
    paths:
      - internal-api.yml
      - external-api.yml
      - internal-api.json
      - external-api.json
  tags:
    - low-load

go-external:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile go-external.tar.gz
  artifacts:
    paths:
      - go-external.tar.gz
  tags:
    - low-load

# this is outdated, see https://dev-staging.synctera.com/reference
.docs:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile internal-api.html
    - make --file=ci.makefile external-api.html
  artifacts:
    paths:
      - internal-api.html
      - external-api.html

# this is outdated, see https://gitlab.com/synctera/clients
.go-internal:
  when: never
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile go-internal.tar.gz
  artifacts:
    paths:
      - go-internal.tar.gz

# this is outdated, typescript devs have their own code generation pipeline
.typescript-axios-internal:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile typescript-axios-internal.tar.gz
  artifacts:
    paths:
      - typescript-axios-internal.tar.gz
