stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera

before_script:
  - echo "${NETRC}" > ~/.netrc

spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - ./update
    - make --file=ci.makefile internal-api.yml external-api.yml internal-api.json external-api.json
  artifacts:
    paths:
      - internal-api.yml
      - external-api.yml
      - internal-api.json
      - external-api.json

docs:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile internal-api.html
    - make --file=ci.makefile external-api.html
  artifacts:
    paths:
      - internal-api.html
      - external-api.html

go-internal:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile go-internal.tar.gz
  artifacts:
    paths:
      - go-internal.tar.gz

go-external:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile go-external.tar.gz
  artifacts:
    paths:
      - go-external.tar.gz

typescript-axios-internal:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile typescript-axios-internal.tar.gz
  artifacts:
    paths:
      - typescript-axios-internal.tar.gz

java-internal:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - make --file=ci.makefile java-internal.tar.gz
  artifacts:
    paths:
      - java-internal.tar.gz