stages:
  - update
  - generate
  - release

variables:
  GOPRIVATE: gitlab.com/synctera

before_script:
  - echo "${_NETRC}" > ~/.netrc

spec:
  stage: update
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - ./update
    - for wildcard in $(ls |grep api-merged-bundled.yml | cut -d- -f1 |uniq); do make --file=ci.makefile ${wildcard}-api.yml; done
    - for wildcard in $(ls |grep api-merged-bundled.yml | cut -d- -f1 |uniq); do make --file=ci.makefile ${wildcard}-api.json; done
  artifacts:
    paths:
      - "*external-api.yml"
      - "*external-api.json"
  tags:
    - low-load

go-external:
  stage: generate
  needs:
    - spec
  image: registry.gitlab.com/synctera/tools/build-tools:latest
  script:
    - for wildcard in $(ls |grep 'external-api.yml' | cut -d. -f1 |uniq); do make --file=ci.makefile go-external.${wildcard}.tar.gz; done
  artifacts:
    paths:
      - go-external.*.tar.gz
  tags:
    - low-load
