openapi: 3.0.3
info:
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  title: Synctera API
  version: 0.5.0
servers:
- description: Production
  url: https://api.synctera.com/v0
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v0
security:
- bearerAuth: []
tags:
- description: Request to create and manage accounts
  name: Accounts
paths:
  /accounts:
    get:
      description: Get paginated list of Accounts associated
      operationId: listAccounts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum of objects to return per page
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/list_account_request'
        description: account list conditions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    accounts:
                      description: Array of Accounts
                      items:
                        $ref: '#/components/schemas/account'
                      type: array
                  type: object
                - $ref: '#/components/schemas/paginated_response'
          description: List of accounts
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List accounts
      tags:
      - Accounts
    post:
      description: Create a shadow mode account
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        description: Account to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Created account
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
      summary: Create an account
      tags:
      - Accounts
    summary: Accounts
  /accounts/{account_id}:
    delete:
      description: Delete account
      operationId: deleteAccount
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete account
      tags:
      - Accounts
    get:
      description: Get an account
      operationId: getAccount
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Account
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account
      tags:
      - Accounts
    put:
      description: Update account
      operationId: updateAccount
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        description: Account to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Updated account
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account
      tags:
      - Accounts
    summary: account
  /accounts/{account_id}/balance:
    get:
      description: Get account balance
      operationId: getAccountBalance
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                posting_date:
                  description: Posting date of the balance. Default is today's date
                  format: date-time
                  type: string
                balance_type:
                  $ref: '#/components/schemas/balance_type'
              type: object
        description: Account balance search conditions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/balance'
          description: Account balance
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account balance
      tags:
      - Accounts
    summary: Get account balance
  /accounts/{account_id}/transactions:
    get:
      description: Get account transactions
      operationId: getAccountTransactions
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum of objects to return per page
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                start_date:
                  description: Start date of the search range. Default is the date
                    two weeks ago
                  format: date
                  type: string
                end_date:
                  description: End date of the search range. Default is the current
                    date
                  format: date
                  type: string
              type: object
        description: Account transactions search condition
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    transactions:
                      description: Array of transactions
                      items:
                        $ref: '#/components/schemas/transaction'
                      type: array
                  type: object
                - $ref: '#/components/schemas/paginated_response'
          description: Account transactions
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account transactions
      tags:
      - Accounts
    summary: Get account transactions
  /accounts/{account_id}/addresses:
    post:
      description: Create account address
      operationId: createAccountAddress
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_address'
        description: Account address to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_address'
          description: Created account address
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource already exists error
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Create address for an account
      tags:
      - Accounts
    summary: Account Address
  /accounts/{account_id}/addresses/{connect_id}:
    delete:
      description: Delete account address
      operationId: DeleteAccountAddress
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Connect ID of the account associate with the account entity
        explode: false
        in: path
        name: connect_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete address for an account
      tags:
      - Accounts
    get:
      description: Get account address by ID
      operationId: getAccountAddress
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Connect ID of the account associate with the account entity
        explode: false
        in: path
        name: connect_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                has_details:
                  description: Include the address information (e.g. street number)
                    if set to True. Address reference only if set to false. Default
                    is false
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_address'
          description: Account address
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get address for an account
      tags:
      - Accounts
    put:
      description: Update account address
      operationId: updateAccountAddress
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Connect ID of the account associate with the account entity
        explode: false
        in: path
        name: connect_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_address'
        description: Account address to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_address'
          description: Updated account address
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update address for an account
      tags:
      - Accounts
    summary: Account Address
components:
  parameters:
    limit:
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 100
        description: Maximum of objects to return per page
        example: 100
        minimum: 1
        type: integer
      style: form
    page_token:
      explode: true
      in: query
      name: page_token
      required: false
      schema:
        description: Optional pagination token to be provided to retrieve subsequent
          pages, returned from previous get
        example: faker.random.alphaNumeric(10)
        type: string
      style: form
    account_id:
      description: Account ID
      explode: false
      in: path
      name: account_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    connect_id:
      description: Connect ID of the account associate with the account entity
      explode: false
      in: path
      name: connect_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: true
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
  responses:
    bad_request:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: BadRequest
    unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unauthorized
    forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Forbidden error
    not_found:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Resource not found
    internal_server_error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Internal server error
    account_closed:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Account has been closed
    delete_response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/delete_response'
      description: Resource has been deleted
    already_exists:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Resource already exists error
  schemas:
    list_account_request:
      properties:
        customer_id:
          description: Return accounts belonging to this customer ID
          format: uuid
          type: string
        has_details:
          default: false
          description: Should the account include information for relationships, aliases,
            balances and recent transactions
          type: boolean
      required:
      - customer_id
      type: object
    status:
      description: |
        The status of the account. Mandatory for shadow mode, optional for lead mode.
      enum:
      - APPLICATION_SUBMITTED
      - FAILED_KYC
      - ACCOUNT_NOT_DESIRED
      - ACTIVE_OR_DISBURSED
      - CLOSED
      - SUSPENDED
      - CHARGED_OFF
      - ACCOUNT_NEVER_ACTIVE
      - ACTIVATED_NOT_DISBURSED
      - AWAITING_FIXING
      - IN_CLOSING
      title: Account Status
      type: string
    relationship:
      properties:
        connect_id:
          description: Connection ID of the account
          format: uuid
          type: string
        relationship_type:
          description: Relationship type
          enum:
          - ACCOUNT_HOLDER
          - EMPLOYEE
          - BRANCH
          - ATM
          - OFFICER
          - PRIMARY_ACCOUNT_HOLDER
          - JOINT_ACCOUNT_HOLDER
          - AUTHORIZED-SIGNER
          type: string
        customer_id:
          description: Customer that the current account is associated with
          format: uuid
          type: string
      title: Account Relationship
      type: object
    alias:
      properties:
        connect_id:
          description: Connection ID of the account
          format: uuid
          type: string
        id:
          description: Alias ID
          format: uuid
          type: string
        alias_type:
          description: Alias type
          type: string
        alias_name:
          description: Alias name
          type: string
        alias_source:
          description: Alias
          type: string
        alias_info:
          description: Additional information for the alias
          format: byte
          type: string
      title: Account Alias
      type: object
    balance_type:
      description: The type of the balance. GET operation default is for all types
      enum:
      - AVAILABLE_BALANCE
      - ACH
      - MARQETA
      - MASTERCARD
      - PULSE
      type: string
    dc_sign_type:
      description: Indication of debit or credit
      enum:
      - DEBIT
      - CREDIT
      type: string
    balance:
      example:
        amount: 0
        currency: faker.finance.currencyCode
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        posting_date: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Account ID
          format: uuid
          readOnly: true
          type: string
        posting_date:
          description: Balance at the posting date
          format: date-time
          readOnly: true
          type: string
        balance_type:
          $ref: '#/components/schemas/balance_type'
        currency:
          description: Currency of the balance. ISO 4217 alphabetic currency code
          example: faker.finance.currencyCode
          readOnly: true
          type: string
        amount:
          description: amount in ISO 4217 minor currency units
          minimum: 0
          readOnly: true
          type: integer
        dc_sign:
          $ref: '#/components/schemas/dc_sign_type'
      title: Account balance
      type: object
    transaction:
      properties:
        id:
          description: Transaction ID
          format: uuid
          type: string
        account_id:
          description: Account ID
          format: uuid
          type: string
        currency:
          description: Currency of the transaction. ISO 4217 alphabetic currency code
          example: faker.finance.currencyCode
          type: string
        amount:
          description: Transaction amount in ISO 4217 minor currency units
          minimum: 0
          type: integer
        dc_sign:
          $ref: '#/components/schemas/dc_sign_type'
        effective_date:
          description: The effective date of the transaction (value_date)
          format: date-time
          type: string
        profit_center:
          description: Profit center of the transaction
          type: string
        authorization_ref:
          description: Reference for the authorization
          type: string
        ext_reference:
          description: External reference from Synctera for the transaction
          type: string
        status:
          description: The status of the transaction
          type: string
        transaction_type:
          description: Transaction type
          enum:
          - ACCOUNT_CLOSING_ACH
          - ATM_DEPOSIT_CARD
          - ATM_FEE_CARD
          - ATM_WITHDRAWAL_CARD
          - BALANCE_INQUIRY_CARD
          - CARD_LOAD_CARD
          - CASH_ADVANCE_CARD
          - CHARGEBACK_CARD
          - CREDIT_CHECKING_ACH
          - CREDIT_SAVING_ACH
          - CREDIT_TRANSFER_ACH
          - CREDIT_TRANSFER_CARD
          - CUR_CONVERSION_FEE_CARD
          - DEBIT_CHECKING_ACH
          - DEBIT_SAVING_ACH
          - DEBIT_TRANSFER_ACH
          - DISPUTE_CHARGEBACK_CARD
          - DISPUTE_PROVISIONAL_CREDIT_CARD
          - INTERCHANGE_CARD
          - MERCHANT_CREDIT_CARD
          - MICRO_DEPOSIT_ACH
          - MONEY_TRANSFER_CARD
          - OTHER_CARD
          - PAYPAL_CREDIT_ACH
          - PIN_INTERCHANGE_CARD
          - PIN_PURCHASE_CARD
          - PIN_RETURN_CARD
          - POS_VERIFICATION_CARD
          - PRE_AUTH_COMPLETION_CARD
          - PRE_AUTH_CREDIT _CHECKING_ACH
          - PRE_AUTH_CREDIT _SAVING_ACH
          - PRE_AUTH_DEBIT _CHECKING_ACH
          - PRE_AUTH_DEBIT _SAVING_ACH
          - PRE_AUTH_FORCE_CARD
          - PURCHASE_CARD
          - RDC_CHECK_ACH
          - REFUND_CARD
          - RETURN_CARD
          - RETURN_CREDIT_CHECKING_ACH
          - RETURN_CREDIT_SAVING_ACH
          - RETURN_DEBIT_CHECKING_ACH
          - RETURN_DEBIT_SAVING_ACH
          - REVERSAL_ACH
          - REVERSAL_CARD
          type: string
      title: Transaction
      type: object
    lead_mode_account:
      properties:
        id:
          description: Account ID
          format: uuid
          readOnly: true
          type: string
        account_number:
          description: Account number
          readOnly: true
          type: string
        currency:
          description: Account currency or account settlement currency. ISO 4217 alphabetic
            currency code. Default USD
          example: faker.finance.currencyCode
          type: string
        status:
          $ref: '#/components/schemas/status'
        exchange_rate_type:
          description: Exchange rate type
          example: M, INTERBANK, CUST
          type: string
        iban:
          description: International bank account number
          type: string
        swift_code:
          description: SWIFT code
          type: string
        is_account_pool:
          description: Account is investment (variable balance) account or a multi-balance
            account pool. Default false
          type: boolean
        account_template_code:
          description: Account template code
          type: string
        account_template_version:
          description: Account template version
          type: number
        relationships:
          description: List of the relationship for this account to the parties
          items:
            $ref: '#/components/schemas/relationship'
          type: array
        aliases:
          description: A list of the aliases for account. Account alias is the account
            number of different balance types to link to the same account ID
          items:
            $ref: '#/components/schemas/alias'
          type: array
          writeOnly: true
        balances:
          description: A list of balances for account based on different type
          items:
            $ref: '#/components/schemas/balance'
          readOnly: true
          type: array
        recent_transactions:
          description: The most recent 10 transactions of the account
          items:
            $ref: '#/components/schemas/transaction'
          readOnly: true
          type: array
      required:
      - relationships
      - template_code
      - template_version
      title: Account Lead Mode
      type: object
    shadow_mode_account:
      properties:
        id:
          description: Account ID
          format: uuid
          readOnly: true
          type: string
        account_number:
          description: Account number
          type: string
        currency:
          description: Account currency or account settlement currency. ISO 4217 alphabetic
            currency code. Default USD
          example: faker.finance.currencyCode
          type: string
        status:
          $ref: '#/components/schemas/status'
        is_account_pool:
          description: Account is investment (variable balance) account or a multi-balance
            account pool. Default false
          type: boolean
        relationships:
          description: List of the relationship for this account to the parties
          items:
            $ref: '#/components/schemas/relationship'
          type: array
        aliases:
          description: A list of aliases for account. Account alias is the account
            number of different balance types to link to the same account ID
          items:
            $ref: '#/components/schemas/alias'
          type: array
          writeOnly: true
        balances:
          description: A list of balances for account based on different type
          items:
            $ref: '#/components/schemas/balance'
          readOnly: true
          type: array
        recent_transactions:
          description: The most recent 10 transactions of the account
          items:
            $ref: '#/components/schemas/transaction'
          readOnly: true
          type: array
      required:
      - account_number
      - status
      title: Shadow mode account
      type: object
    account:
      description: Account
      oneOf:
      - $ref: '#/components/schemas/lead_mode_account'
      - $ref: '#/components/schemas/shadow_mode_account'
    paginated_response:
      properties:
        next_page_token:
          description: If returned, use the next_page_token to query for the next
            page of results.
          example: faker.random.alphaNumeric(10)
          type: string
      title: Paginated List response
      type: object
    error:
      properties:
        error_details:
          description: Detailed description of error
          example: faker.lorem.sentence
          type: string
      title: Error
      type: object
    delete_response:
      description: Deleted object information
      example:
        resource: resource
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: Object ID
          format: uuid
          type: string
        resource:
          description: The resource name
          type: string
      title: Deleted Object
      type: object
    address:
      properties:
        id:
          description: Address unique identifier
          format: uuid
          readOnly: true
          type: string
        default_address_flg:
          description: Denotes whether this address is the person's default address
          type: boolean
        type:
          description: type of address
          enum:
          - home
          - work
          - temporary
          - vacation
          example: work
          type: string
        address_line_1:
          description: Street address line 1
          example: faker.address.streetAddress
          type: string
        address_line_2:
          description: String address line 2
          example: faker.address.secondaryAddress
          type: string
        city:
          description: City
          example: faker.address.city
          type: string
        state:
          description: State, region, province, or prefecture
          example: faker.address.stateAbbr
          type: string
        postal_code:
          description: Postal code
          example: faker.address.zipCode(#####)
          type: string
        country_code:
          description: ISO-3166-1 Alpha-2 country code
          example: faker.address.countryCode
          type: string
      required:
      - address_line_1
      - city
      - country_code
      - default_address_flg
      - postal_code
      - state
      - type
      type: object
    account_address:
      example:
        address: ""
        connect_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        document_type_id: 0
        address_id: 6
        duplicate: true
        customer_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        connect_id:
          description: Connection ID of the account
          format: uuid
          type: string
        document_type_id:
          description: Document
          type: integer
        duplicate:
          description: Indicator of duplicate of the address
          type: boolean
        customer_id:
          description: Customer ID
          format: uuid
          type: string
        address_id:
          description: Address unique ID
          type: integer
        address:
          allOf:
          - $ref: '#/components/schemas/address'
          readOnly: true
      title: Account Address
      type: object
    inline_object:
      properties:
        posting_date:
          description: Posting date of the balance. Default is today's date
          format: date-time
          type: string
        balance_type:
          $ref: '#/components/schemas/balance_type'
      type: object
    inline_object_1:
      properties:
        start_date:
          description: Start date of the search range. Default is the date two weeks
            ago
          format: date
          type: string
        end_date:
          description: End date of the search range. Default is the current date
          format: date
          type: string
      type: object
    inline_object_2:
      properties:
        has_details:
          description: Include the address information (e.g. street number) if set
            to True. Address reference only if set to false. Default is false
          type: boolean
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: api_key
      scheme: bearer
      type: http
