openapi: 3.0.3
info:
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  title: Synctera API
  version: 0.5.0
servers:
- description: Production
  url: https://api.synctera.com/v0
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v0
security:
- bearerAuth: []
tags:
- description: Request create and manage different types of transactions
  name: Transactions
paths:
  /transactions/ach:
    get:
      description: Get a list of pending ACH
      operationId: getOutgoingACH
      parameters:
      - description: Execution Date
        explode: true
        in: query
        name: ACH execution date
        required: true
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum of objects to return per page
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    customers:
                      description: Array of ACH
                      items:
                        $ref: '#/components/schemas/ach_outgoing'
                      type: array
                  type: object
                - $ref: '#/components/schemas/paginated_response'
          description: List of pending ACH
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Pending ACH List
      tags:
      - Transactions
    post:
      description: Create an outgoing ACH
      operationId: createOutgoingACH
      parameters:
      - description: Multi-Factor Authentication Token
        explode: false
        in: header
        name: mfa_token
        required: false
        schema:
          example: faker.helpers.replaceSymbols(######)
          pattern: ^\d{4,8}$
          type: string
          writeOnly: true
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ach_outgoing'
        description: Outgoing ACH to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_outgoing'
          description: Created outgoing ACH
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create outgoing ACH
      tags:
      - Transactions
    summary: Outgoing ACH
  /transactions/ach/{payment_id}:
    delete:
      description: Delete a pending outgoing ACH
      operationId: deleteOutgoingACH
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Delete pending outgoing ACH
      tags:
      - Transactions
    put:
      description: Update an outgoing ACH
      operationId: updateOutgoingACH
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Multi-Factor Authentication Token
        explode: false
        in: header
        name: mfa_token
        required: false
        schema:
          example: faker.helpers.replaceSymbols(######)
          pattern: ^\d{4,8}$
          type: string
          writeOnly: true
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ach_outgoing'
        description: Outgoing ACH to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_outgoing'
          description: Updated outgoing ACH
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update outgoing ACH
      tags:
      - Transactions
    summary: Outgoing ACH
  /transactions/a2a_transfer:
    description: Transfer amount from account to account under the same customer
    post:
      description: Transfer amount under the same customer
      operationId: a2aTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/a2a_transfer'
        description: Account to account transfer to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/a2a_transfer'
          description: Created account to account transfer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
        "462":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Insufficient funds
        "463":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been locked
        "464":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Customer has been locked
        "465":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Counterparty account has been locked
        "466":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Counterparty account has been closed
        "467":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Currency not supported
        "468":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Recurrence not supported
        "469":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Execution date in the past
        "470":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Execution date in the future
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Account to account transfer
      tags:
      - Transactions
    summary: Transfer amount from account to account under the same customer
  /transactions/a2a_transfer/{payment_id}:
    description: Transfer amount from account to account under the same customer
    get:
      description: Get account to account transfer
      operationId: getA2ATransfer
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/a2a_transfer'
          description: Account to account transfer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get account to account transfer
      tags:
      - Transactions
    post:
      description: Reverse account to account transfer
      operationId: reverseA2ATransfer
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/a2a_transfer'
          description: Reversed account to account transfer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "471":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Transaction cannot be reversed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Reverse existing account to account transfer
      tags:
      - Transactions
    summary: Transfer amount from account to account under the same customer
  /transactions/a2a_transfer/list/{customer_id}:
    get:
      description: Transfer amount under the same customer
      operationId: listA2ATransfer
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum of objects to return per page
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    a2a_transfers:
                      description: Array of account to account transfers
                      items:
                        $ref: '#/components/schemas/a2a_transfer'
                      type: array
                  type: object
                - $ref: '#/components/schemas/paginated_response'
          description: Account to account transfer list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List account to account transfer
      tags:
      - Transactions
    summary: Transfer amount from account to account under the same customer
components:
  parameters:
    execution_date:
      description: Execution Date
      explode: true
      in: query
      name: ACH execution date
      required: true
      schema:
        format: date
        type: string
      style: form
    limit:
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 100
        description: Maximum of objects to return per page
        example: 100
        minimum: 1
        type: integer
      style: form
    page_token:
      explode: true
      in: query
      name: page_token
      required: false
      schema:
        description: Optional pagination token to be provided to retrieve subsequent
          pages, returned from previous get
        example: faker.random.alphaNumeric(10)
        type: string
      style: form
    mfa_token:
      description: Multi-Factor Authentication Token
      explode: false
      in: header
      name: mfa_token
      required: false
      schema:
        example: faker.helpers.replaceSymbols(######)
        pattern: ^\d{4,8}$
        type: string
        writeOnly: true
      style: simple
    payment_id:
      description: Payment ID
      explode: false
      in: path
      name: payment_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    customer_id:
      description: Customer ID
      explode: false
      in: path
      name: customer_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  responses:
    bad_request:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: BadRequest
    unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unauthorized
    forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Forbidden error
    not_found:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Resource not found
    internal_server_error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Internal server error
    delete_response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/delete_response'
      description: Resource has been deleted
    account_closed:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Account has been closed
    insufficient_funds:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Insufficient funds
    account_locked:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Account has been locked
    customer_locked:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Customer has been locked
    counterparty_account_locked:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Counterparty account has been locked
    counterparty_account_closed:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Counterparty account has been closed
    currency_not_supported:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Currency not supported
    recurrence_not_supported:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Recurrence not supported
    execution_date_in_the_past:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Execution date in the past
    execution_date_in_the_future:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Execution date in the future
    cannot_reverse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Transaction cannot be reversed
  schemas:
    recurrence_data:
      description: Represents recurrence data
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recurrence_frequency: 6
      properties:
        id:
          description: Recurrence ID
          format: uuid
          type: string
        recurrence_frequency:
          description: the frequency at which to recur
          type: integer
      title: Recurrence Data
      type: object
    ach_outgoing:
      description: Represents an outgoing ACH
      example:
        amount: 0
        execution_date: 2000-01-23
        transaction_direction: DEBIT
        target_account_routing: faker.helpers.replaceSymbols(#########)
        no_fraud_check: false
        account_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        overwrite_checks: false
        reference_info: faker.lorem.sentence
        target_bank_country: faker.address.countryCode
        currency: faker.finance.currencyCode
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recipient_name: faker.name.findName
        target_account_no: faker.helpers.replaceSymbols(################)
        recurring_data:
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          recurrence_frequency: 6
      properties:
        id:
          description: Outgoing ACH
          format: uuid
          readOnly: true
          type: string
        account_id:
          description: ID of the source account
          format: uuid
          readOnly: true
          type: string
        amount:
          description: Amount to transfer in ISO 4217 minor currency units
          minimum: 0
          type: integer
        currency:
          description: ISO 4217 alphabetic currency code of the transfer amount
          example: faker.finance.currencyCode
          type: string
        transaction_direction:
          description: The type of transaction (DEBIT/CREDIT) for originating account
          enum:
          - DEBIT
          - CREDIT
          example: DEBIT
          type: string
        reference_info:
          description: Reference information for the payment
          example: faker.lorem.sentence
          maxLength: 80
          type: string
        target_account_no:
          description: The account number of the destination account
          example: faker.helpers.replaceSymbols(################)
          maxLength: 17
          pattern: ^\d{1,17}$
          type: string
        target_account_routing:
          description: The routing number of the destination account
          example: faker.helpers.replaceSymbols(#########)
          maxLength: 9
          minLength: 9
          pattern: ^\d{9}$
          type: string
        target_bank_country:
          default: US
          description: The ISO-3166-1 Alpha-2 country code in which the target account
            is registered (default US)
          example: faker.address.countryCode
          type: string
        recipient_name:
          description: The name of the recipient
          example: faker.name.findName
          type: string
        execution_date:
          description: The date the transfer executes (default today)
          format: date
          type: string
        recurring_data:
          $ref: '#/components/schemas/recurrence_data'
        no_fraud_check:
          description: Do not perform a fraud check
          example: false
          type: boolean
        overwrite_checks:
          description: Overwrite non mandatory posting checks. Mandatory checks will
            still be processed
          example: false
          type: boolean
      required:
      - account_id
      - amount
      - currency
      - recipient_name
      - target_account_no
      - target_account_routing
      - target_bank_country
      title: Outgoing ACH
      type: object
    paginated_response:
      properties:
        next_page_token:
          description: If returned, use the next_page_token to query for the next
            page of results.
          example: faker.random.alphaNumeric(10)
          type: string
      title: Paginated List response
      type: object
    error:
      properties:
        error_details:
          description: Detailed description of error
          example: faker.lorem.sentence
          type: string
      title: Error
      type: object
    delete_response:
      description: Deleted object information
      example:
        resource: resource
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: Object ID
          format: uuid
          type: string
        resource:
          description: The resource name
          type: string
      title: Deleted Object
      type: object
    dc_sign_type:
      description: Indication of debit or credit
      enum:
      - DEBIT
      - CREDIT
      type: string
    a2a_transfer:
      example:
        amount: 0
        transfer_reversal:
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          is_reversal: true
        execution_date: 2000-01-23
        payment_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        is_overwrite_checks: true
        reference_info: reference_info
        source_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        currency: faker.finance.currencyCode
        target_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recurring_data:
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          recurrence_frequency: 6
      properties:
        source_account:
          description: Account ID that is instructing the transfer
          format: uuid
          type: string
        target_account:
          description: Account ID that is receiving the transfer
          format: uuid
          type: string
        amount:
          description: amount in ISO 4217 minor currency units
          minimum: 0
          type: integer
        currency:
          description: Account currency or account settlement currency. ISO 4217 alphabetic
            currency code.
          example: faker.finance.currencyCode
          type: string
        dc_sign:
          $ref: '#/components/schemas/dc_sign_type'
        reference_info:
          description: User specified information of this transfer
          maxLength: 80
          type: string
        execution_date:
          description: Execution date of the transfer. Default is the current date
          format: date
          type: string
        recurring_data:
          $ref: '#/components/schemas/recurrence_data'
        transfer_reversal:
          $ref: '#/components/schemas/a2a_transfer_transfer_reversal'
        is_overwrite_checks:
          description: Flag to indicate the overwrite checks
          readOnly: true
          type: boolean
        payment_id:
          description: Payment ID
          format: uuid
          readOnly: true
          type: string
      required:
      - amount
      - currency
      - dc_sign
      - source_account
      - target_account
      type: object
    a2a_transfer_transfer_reversal:
      description: If transfer reversal happens, both original and reversal transfers
        will be set for the cross reference
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        is_reversal: true
      properties:
        is_reversal:
          description: True if transfer reversal, false otherwise the original transfer
          type: boolean
        id:
          description: Payment ID of the corresponding reversal/original transfer
          format: uuid
          type: string
      readOnly: true
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: api_key
      scheme: bearer
      type: http
