openapi: 3.0.3
info:
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  title: Synctera API
  version: 0.5.0
servers:
- description: Production
  url: https://api.synctera.com/v0
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v0
security:
- bearerAuth: []
tags:
- description: Requests to intiate customer verification
  name: KYC Verification
paths:
  /customers/{customer_id}/verify:
    description: |
      Verify the customers identity
    post:
      description: |
        This will intiate identity verification and run through the specified identity checks
      operationId: verifyCustomer
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer_verification'
        description: Customer verification
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_verification'
          description: Customer verification
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Verify a Customer
      tags:
      - KYC Verification
    summary: Verify
  /customers/{customer_id}/verifications:
    description: |
      List verification results
    get:
      description: List verification results
      operationId: listVerifications
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum of objects to return per page
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    verifications:
                      description: Array of Verification results
                      items:
                        $ref: '#/components/schemas/customer_verification_result'
                      type: array
                  type: object
                - $ref: '#/components/schemas/paginated_response'
          description: List of customer verification results
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Verification Results
      tags:
      - KYC Verification
    post:
      description: |
        Create a verification result for a customer
      operationId: createCustomerVerificationResult
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer_verification_result'
        description: Customer verification result to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_verification_result'
          description: Created customer verification result
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create a Customer Verification Result
      tags:
      - KYC Verification
    summary: List Verification Results
  /customers/{customer_id}/verifications/{verification_id}:
    description: |
      Get Verification by ID
    get:
      description: Get verification result
      operationId: getVerification
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Verification ID
        explode: false
        in: path
        name: verification_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_verification_result'
          description: Verification result
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Verification Result
      tags:
      - KYC Verification
    summary: Verification
  /customers/{customer_id}/documents:
    get:
      description: Get paginated list of Documents associated with user
      operationId: listDocuments
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Maximum of objects to return per page
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    documents:
                      description: Array of documents
                      items:
                        $ref: '#/components/schemas/document'
                      type: array
                  type: object
                - $ref: '#/components/schemas/paginated_response'
          description: List of documents
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Documents
      tags:
      - KYC Verification
    post:
      description: |
        Upload a Customer's document.  This document can be used to verify identity
      operationId: createDocument
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        description: Document to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
          description: Created document
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create a Document
      tags:
      - KYC Verification
    summary: Document
  /customers/{customer_id}/documents/{document_id}:
    get:
      description: Get Document based on ID
      operationId: getDocument
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Document ID
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
          description: Document
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Document
      tags:
      - KYC Verification
    patch:
      operationId: patchDocument
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Document ID
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        description: Document to patch
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
          description: Patched document
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Patch Document
      tags:
      - KYC Verification
    put:
      operationId: updateDocument
      parameters:
      - description: Customer ID
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Document ID
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        description: Document to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
          description: Updated document
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Document
      tags:
      - KYC Verification
    summary: Document by ID
components:
  parameters:
    customer_id:
      description: Customer ID
      explode: false
      in: path
      name: customer_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    limit:
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 100
        description: Maximum of objects to return per page
        example: 100
        minimum: 1
        type: integer
      style: form
    page_token:
      explode: true
      in: query
      name: page_token
      required: false
      schema:
        description: Optional pagination token to be provided to retrieve subsequent
          pages, returned from previous get
        example: faker.random.alphaNumeric(10)
        type: string
      style: form
    verification_id:
      description: Verification ID
      explode: false
      in: path
      name: verification_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    document_id:
      description: Document ID
      explode: false
      in: path
      name: document_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  responses:
    bad_request:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: BadRequest
    unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unauthorized
    forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Forbidden error
    not_found:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Resource not found
    internal_server_error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Internal server error
  schemas:
    verification_type:
      description: 'Type of verification to run: `KYC` - KYC verification to validate
        name, date of birth, tax id, etc match, OFAC` - OFAC / sanctions check, `PEP`
        - Politically exposed persons check, `FRAUD` - Check if transaction is fraudulent,
        `DOCUMENT` - Validate if document matches Person''s identity'
      enum:
      - fraud
      - synthetic
      - emailrisk
      - phonerisk
      - addressrisk
      - kyc
      - social
      - watchliststandard
      - watchlistpremier
      - watchlistplus
      - documentverification
      - alertlist
      example: KYC
      title: VerificationType
      type: string
    customer_verification:
      example:
        verification_type:
        - KYC
        - KYC
        user_ip_address: faker.internet.ip
      properties:
        verification_type:
          items:
            $ref: '#/components/schemas/verification_type'
          type: array
        user_ip_address:
          description: IP address
          example: faker.internet.ip
          pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
          type: string
      required:
      - ssn
      - verification_type
      title: PersonVerification
      type: object
    error:
      properties:
        error_details:
          description: Detailed description of error
          example: faker.lorem.sentence
          type: string
      title: Error
      type: object
    customer_verification_reason_codes:
      description: Specific verification issue.  Based on rules defined with bank
        this may
      enum:
      - NAME
      - ADDRESS
      - SSN_ADDRESS_MISMATCH
      - NON_US_CITIZEN
      - IDENTITY_TOO_RECENT
      - GLOBAL_WATCHLIST
      - EMAIL_FRAUD_LIST
      - SSN_FRAUD_LIST
      - PHONE_FRAUD_LIST
      - DOB
      - SSN_DECEASED
      - SSN
      - SSN_NAME_MISMATCH
      - ACTIVE_DUTY
      - FRAUD_VICTIM
      example: NAME
      title: PersonVerificationReasonCodes
      type: string
    customer_verification_result:
      description: Verification result
      example:
        verifications_run:
        - KYC
        - KYC
        result: PASS
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        raw_response: '{}'
        issues:
        - NAME
        - NAME
        verification_date: 2000-01-23
      properties:
        id:
          description: Verification object ID
          format: uuid
          type: string
        issues:
          description: List of found issues
          items:
            $ref: '#/components/schemas/customer_verification_reason_codes'
          type: array
        verifications_run:
          description: List of the verifications run
          items:
            $ref: '#/components/schemas/verification_type'
          type: array
        raw_response:
          type: object
        result:
          description: The determination of this KYC run
          enum:
          - accept
          - reject
          - pending
          - review
          - resubmit
          - refer
          example: PASS
          type: string
        verification_date:
          description: The date on which the KYC run was completed
          format: date
          type: string
      required:
      - result
      - verification_date
      - verifications_run
      title: CustomerVerificationResult
      type: object
    paginated_response:
      properties:
        next_page_token:
          description: If returned, use the next_page_token to query for the next
            page of results.
          example: faker.random.alphaNumeric(10)
          type: string
      title: Paginated List response
      type: object
    kyc_media_type:
      description: 'Type of image: PNG, JPG. Note that PDF and GIF are valid values,
        but not currently supported.'
      enum:
      - PDF
      - PNG
      - JPG
      - GIF
      example: PNG
      title: MediaType
      type: string
    document_type:
      description: 'Type of document: `LICENSE_FRONT` - Government issued license
        front, `LICENSE_BACK` - Government issued license back, `ID_CARD_FRONT` -
        Government issued ID front, `ID_CARD_BACK` - Government issued ID back, `PASSPORT`
        - Passport, `SELF_PORTRAIT` - Selfie, `PROOF_OF_ADDRESS` - Document to prove
        address such as a utility bill'
      enum:
      - LICENSE_FRONT
      - LICENSE_BACK
      - ID_CARD_FRONT
      - ID_CARD_BACK
      - PASSPORT
      - SELF_PORTRAIT
      - PROOF_OF_ADDRESS
      example: '["LICENSE_FRONT"]'
      title: DocumentType
      type: string
    document:
      example:
        media_type: PNG
        byte_data: byte_data
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        document_type: '["LICENSE_FRONT"]'
      properties:
        id:
          description: Document ID
          format: uuid
          readOnly: true
          type: string
        media_type:
          $ref: '#/components/schemas/kyc_media_type'
        document_type:
          $ref: '#/components/schemas/document_type'
        byte_data:
          description: Base64url encoded image
          format: byte
          type: string
      required:
      - document_type
      - media_type
      title: Document
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: api_key
      scheme: bearer
      type: http
